/* Service start */

section.services{
    height: 70vh;
    background-image: url(/images/people.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3em 0 0 6em;
    position: relative;
    /* z-index: -4; */
}
section.services::after{
    content: "";
    display: inline-block;
    width: 115%;
    height: 70vh;
    position: relative;
    top: -2.9em;
    left: -6em;
    z-index: 0.5;
    overflow-x: hidden;
    background-color: rgba(230, 60, 60,0.6);
}
section.services div.details{
    z-index: 10000;
    color: #fff;
    position: absolute;
}
section.services h1.service-head{
        color: #fff;
        font-size: 60px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
}
section.services p.service-text{
    margin: 1em  0 1.5em;
    font-size: 24px;
    color: #fff;
    width: 800px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
section.services a.get_started{
    text-decoration: none;
    color: white;
    background-color: goldenrod;
    padding: 10px 25px;
    border-radius: 7px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/* What we do */

section.what-we-do{
    margin: 3em 0 0 6em;
}
section.what-we-do h3.wwd{
    color: brown;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 800;
}

section.what-we-do h1.wwd-head{
    margin: 0.8em 0;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
section.what-we-do p.wwd-text{
    font-size: 16px;
    width: 400px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
section.what-we-do article {
    margin: 2em 0 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Roboto', sans-serif;
    gap: 2em;
}
section.what-we-do article div{
    width: 300px;
}
section.what-we-do article div img{
    background-color: rgba(230, 60, 60,0.3);
    padding: 6px 10px;
}
section.what-we-do article div h4{
    margin: 1em 0;
    font-size: 24px;
    font-weight: 400;
}
section.what-we-do article div p{
    margin-bottom: 0.7em;
    font-size: 14px;
    font-weight: 400;
}

section.what-we-do article div a{
    color: #000;
    text-decoration: none;
    
    font-style: italic;
    font-weight: 600;
    font-size: 12px;
}
section.what-we-do article div a::after{
    content: "";
    display: inline-block;
    width: 80px;
    height: 3px;
    background-color: rgba(230, 60, 60,0.6);
    position: relative;
    bottom: -12px;
    left: -70px;
}
   
        /* Looking for young talent */
   section.young-talent{
        height: 200px;
        display: flex;
        align-items: center;
        margin-left: 6em;
    font-family: 'Poppins', sans-serif;

   }     
   section.young-talent .yt-text {
    font-size: 21px;
    width: 420px;
    font-weight: 400;
   }
   section.young-talent .yt-head{
    margin: 1em 0;
    font-size: 36px;
    font-weight: 700;
   }
   section.young-talent .send-mail{
    font-size: 24px;
    font-weight: 400;
   }
