/* about section */

section.about{
    margin-top: 1em;
    padding: 2em 0 0 7em;
    background-image: url(/images/about-bg.svg);
    background-size: cover;
    height: 75vh;
    color: #fff;
    margin: 0 auto;
}

section.about h1.about-us{
    font-family: 'Poppins', sans-serif;
    font-size: 64px;   
}
section.about h3.about-intro{
    margin: 0.7em 0;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
    
}
section.about p.about-text{
    /* margin: 3em 0; */
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    width: 600px;
}

/* Display Images */

article.display_images{
    /* display: flex;
    justify-content: space-evenly; */
    width: 80%;
    
    height: 150px;
    margin: 0 auto;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    background-color: red; */
} 
 article.display_images img{
    position: relative;
    /* width: 180px;
    height: 300px; */
    border-radius: 70px;
    top: -11em;
}
article.display_images img#second{
    position: relative;
    right: -50px;
}
/*article.display_images .double img{
    height: 100px;
    width: 150px;
    border-radius: 50%;
    border-bottom-right-radius: 7px  ;

} */

    /* Vision and Mission */

section.vision-mission{
    margin: 4em 0 4em 7em;
    
}    
section.vision-mission h3.vis-mis{
    color: brown;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 800;
}
section.vision-mission div.mission, section.vision-mission div.vision{
    display: flex;
    height: 220px;
    align-items: center;
    justify-content: space-around;
    /* text-align: center; */
    width: 80%;
}
section.vision-mission div.mission h3,section.vision-mission div.vision h3{
    color: brown;
    font-family: 'Poppins', sans-serif;
}
section.vision-mission img{
    width: 300px;
    height: 200px;
    border-radius: 7px;
}
section.vision-mission p{
    width: 200px;
    margin-top: 1em;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
}
/* Our Core Values */

section.core-values{
    margin: 3em 0 2em 7em;
    position: relative;
    height: 80vh;
    /* top: -3em; */
}
section.core-values h3.wdu{
    color: brown;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 800;
}

section.core-values h1.ocv{
    margin: 1em 0;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
section.core-values article.values-display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
}
section.core-values article.values-display div{
    width: 320px;
}

section.core-values article.values-display div p.each-value{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin: 0.6em 0;
}
section.core-values article.values-display div p.each-value + span{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}



/* Members -- Our team */

section.our-team{
    margin-left: 7em;
    position: relative;
    top: -6em;
}
section.our-team h1.ot-header{
font-weight: 700;
font-family: 'Poppins', sans-serif;
font-size: 36px;
}
section.our-team p.ot-info{
    margin: 1em 0 2em;
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    width: 70%;
}

section.our-team article.members{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 2em;
}


section.our-team article.members div.main{
    width: 330px;
    height: 290px;
    box-shadow: 1px 1px 1px 1px grey;
    padding:  15px;
    text-align: center;
    border-radius: 7px;
    background-color: lightgrey;
}
/* section.our-team article.members div.on-hover{ */
    /* width: 330px;
    height: 280px; */
    /* background-color: grey; */
    /* display: flex;
    box-shadow: none;
    text-align: left;
} */
 
section.our-team article.members div.main img.main{
    width: 80px;
}
section.our-team article.members div.main h3{
    margin: 12px 0;
    font-family: 'Poppins', sans-serif;
}
section.our-team article.members div.main h5{
    font-family: 'Roboto', sans-serif;
}
section.our-team article.members div.main p{
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

div.on-hover{
    width: 330px;
    height: 280px;
    box-shadow: none;
    /* background-color: grey;  */
    display: flex;
} 
div.on-hover img {
    width: 170px;
    height: 260px;
}
div.on-hover div{
    margin-left: 1em;
    font-family: 'Poppins', sans-serif;
}
div.on-hover h3{
    margin: 1em 0;
}
div.on-hover div p{
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
/* section.our-team article.members img{
    height: 200px;
}
section.our-team article.members div.name-position{
    width: 100px;
    text-align: center;
    background-color: gray;
    border-radius: 20px;
    position: relative;
    top: -2.5em;
    right: -2em;
} */

/* Mail Section */

article.mail-section{
    margin: 2em 0 2em 7em ;
    font-family: 'Poppins', sans-serif;
}
article.mail-section p.mail-text{
    font-size: 19px;
    
    font-weight: 400;
}
article.mail-section p.mail-text + h1{
    margin: 0.3em 0;
}
article.mail-section p.send-mail{
    font-size: 17px;
    font-style: italic;
}

/* Full width Image */
div.full-width-image{
    height: 70vh;
    background-image: url(/images/displayImage.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

/* Footer */
footer.about-footer .footer-contents{
    margin-top: 0;
}