
/* First section styling */
section.first{
    background-color: brown;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
section.first h1.title{
    color: #fff;
    font-size: 65px;
    width: 500px;
    margin-top: 1.3em;
}
section.first p.sub-text{
    margin: 1em 0;
    color: #fff;
    font-size: 21px;
}
section.first a.get-started{
    background-color: #fff;
    padding: 7px 20px;
    text-decoration: none;
    border-radius: 5px;
    color: black;
    transition: color 500ms;
    margin-bottom: 3em;
    font-size: 21px;
}
section.first a.get-started:hover{

    color: brown;
}
section.first div.two{
    margin-top: 5em;
}
section.first img{
    /* z-index: -1; */
    
    width:170px;
    position: relative;
    left: -80px;
    border-radius: 10px;
}

/* Display Image */

div.display-image{
    display: flex;
    justify-content: center;

}
div.display-image img{
    border-radius: 10px;
    width: 680px;
    height: 300px;
    position: relative;
    top: -8.5em;
    
}

/* second section styling */
section.second {
    width: 80%;
    margin: 0 auto;
    
}
section.second h3.wwa{
    position: relative;
    top: -3.5em;
    color: brown;
}

section.second h1.description{
    position: relative;
    top: -2em;
    font-size: 31px;
}

section.second p.desc-text{
    position: relative;
    top: -1.5em;
    font-size:20px;
}

section.second  .desc-images{
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
}

section.second  .desc-images img{
    width: 170px;
    height: 180px;
    border-radius: 7px;
}
section.second  .desc-images .image.db img{
    height: 90px;
    
}
/* third section */

section.third div.what_we_do{
    margin: 3em 0 2em 7.5em;
    /* display: flex;
    justify-content: space-around; */
}
section.third h3.wwd{
    color: brown;
}
section.third  h1.info-header{
    margin: 0.5em 0;
    font-size: 28px;
}
section.third p.info-text{
    font-size: 21px;
}
section.third div.learn-more{
    width: 83%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    height: 100vh;
}
section.third div.learn-more article.item{
    width: 250px;
    height: 200px;
}
section.third div.learn-more article.item img{
    background-color: lightgrey;
    padding: 10px 10px;
}
section.third div.learn-more article.item h2.item-header{
    margin: 1em 0;
}

section.third div.learn-more article.item p.item-text{
    color: gray;
    font-size: 18px;
    margin-bottom: 0.7em;
}
section.third div.learn-more article.item a{
    text-decoration: none;
    color: brown;
    font-size: 20px;
    transition: all 500ms;
    
    
}
section.third div.learn-more article.item a:hover{
    color: gold;
}
/* fourth section */

section.fourth{
    width: 83%;
    margin: 2em auto;
}
section.fourth h3{
    color: brown;
    margin-top: 5em;

}
section.fourth h1{
    margin: 0.5em 0;
    font-size: 37px;
}
section.fourth p{
    font-size: 20px;
}

section.fourth div.qualities{
    margin-top: 1.5em;
    display: flex;
    justify-content: space-around;
}
section.fourth div.qualities img{
    background-color: lightgray;
    padding: 10px 12px;
    position: relative;
    right: -1.5em;
    top: -0.3em;
}

/* Article break into tech */

article.break-into-tech{
    margin-top: 5em;
    height: 400px;
    background-image:url(/images/displayImage.svg) ;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* background-position: center; */
}
article.break-into-tech::after{
    content: "";
    display: inline-block;
    width: 100%;
    height: 400px;
    background: rgba(255,153,0,0.3) ;
    z-index: 0.5;
    position: relative;
    top: -4em;
}
article.break-into-tech div{
    color: #fff;
    z-index: 10000;
    margin: 0 auto;
    width: 400px;
    position: relative;
    bottom: -175px;
}

article.break-into-tech div h2{
    font-size: 37px;
    /* margin-bottom: 1rem; */
}
article.break-into-tech div a{
    border: 1px solid #fff;
    color: #fff;
    padding: 17px 35px;
    border-radius: 8px;
    text-decoration: none;
    position: relative;
    right: -6em;
    bottom: -2rem;
    font-size: 21px;
}

/* fifth section */


section.fifth{
    margin: 3em 0 4em 4.5em;
    font-size: 18px;
}
section.fifth h3{
    color: brown;
    margin-bottom: 1em;
}
section.fifth .customers-logo{
    position: relative;
    left: -2em;
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}
section.fifth div.fce{
    display: flex;
}
section.fifth span.arrangement{
    display: grid;
}

